.main {
    position: relative;
    top: 245px;
    width: 40%;
    height: 300px;
    margin: auto;
    text-align: center;
    /* background-color: cyan; */
}

#google-logo {
    /* background-color: gray; */
}

#search {
    position: relative;
    margin: auto;
    top: 25px;
    /* background-color: rgb(145, 241, 145); */
    border: 1px solid black;
    width: 575px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
}

#searchbox {
    position: relative;
    margin: 2px auto;
    height: 39px;
    width: 490px;
    font-size: 16px;
    border: transparent;
}

#searchbox:focus {
    outline: none;
}
