.main {
    position: relative;
    top: 245px;
    width: 40%;
    height: 300px;
    margin: auto;
    text-align: center;
    /* background-color: cyan; */
}

#google-logo {
    /* background-color: gray; */
}

#search {
    position: relative;
    margin: auto;
    top: 25px;
    /* background-color: rgb(145, 241, 145); */
    border: 1px solid rgb(228, 224, 224);
    width: 575px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
}

#searchbox {
    position: relative;
    left: 18px;
    margin: 2px;
    height: 39px;
    width: 500px;
    font-size: 16px;
    border: transparent;
    z-index: 2;
    background: transparent;
}

#searchbox:focus {
    outline: none;
}

#searchicon {
    z-index: 1;
    position: absolute;
    top: 4px;
    left: 10px;
    color: grey;
    font-size: 20px;
    padding: 7px 7px 7px 4px;
}

#google-microphone {
    position: relative;
    top: 8px;
    left: 8px;
    width: 24px;
    height: auto;
}
